$main-bkgd: #eeeeee;
$foreground: #333333;
$selection-bg: #42b983;
$selection-fg: #fff;
$btn: #42b983;
$btn-hov: #3ea776;
$btn-fg: #42b983;
$btn-hov-fg: #fff;
$spinner: #3ea776;
$a: #42b983;
$a-hov: #3ea776;
$item-sep: #c1ddff;
